// Core variables and mixins
//@import "bootstrap/variables.less";
@import "variables.less";
@import "bootstrap/mixins.less";

// Reset and dependencies
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";
@import "bootstrap/glyphicons.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
// @import "bootstrap/component-animations.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
// @import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
// @import "bootstrap/breadcrumbs.less";
// @import "bootstrap/pagination.less";
// @import "bootstrap/pager.less";
@import "bootstrap/labels.less";
// @import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
//@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
// @import "bootstrap/progress-bars.less";
// @import "bootstrap/media.less";
// @import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
// @import "bootstrap/responsive-embed.less";
// @import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
// @import "bootstrap/modals.less";
// @import "bootstrap/tooltip.less";
// @import "bootstrap/popovers.less";
// @import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

// CodeMirror
@import "codemirror/codemirror.less";
@import "codemirror/theme-monokai.less";
.CodeMirror pre {
  font-size: 12px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

// Phoenix styles
@import "com/page-nav.less";
@import "com/spinner.less";
@import "com/modal.less";
@import "com/message.less";
@import "com/message-thread.less";
@import "com/message-summary.less";
@import "com/message-feed.less";
@import "com/message-stats.less";
@import "com/contact-summary.less";
@import "com/contact-feed.less";
@import "com/contact-listing.less";
@import "com/contact-sync-listing.less";
@import "com/program-summary.less";
@import "com/program-feed.less";
@import "com/program-editor.less";
@import "com/notifications.less";
@import "com/header-controls.less";
@import "com/ext.less";
@import "com/search.less";
@import "com/composer.less";
@import "com/post-form.less";
@import "com/fact-form.less";
@import "com/image-uploader.less";
@import "com/invite-form.less";
@import "com/adverts.less";
@import "com/advert-form.less";
@import "com/profile.less";
@import "com/suggest-box.less";
@import "com/hexagon.less";

// Home styles
html {
  overflow-y: scroll; // always show scrollbar
}
body {
  background: #eee;
}
#page-container {
  padding: 42px 0 0;
}
.right-column {
  padding: 3px 10px;
  background: #eee;
  .right-column-inner {
    display: inline-block;
    padding-left: 1em;
  }
  .well {
    background: #eee;
  }
  .sidehelp a, .sidehelp .btn-link {
    color: #666;
  }
}
.user-link {
  font-weight: bold;
  color: #555;
  &.thin {
    font-weight: normal;
  }
}
.full-height {
  overflow-y: auto;
  overflow-x: hidden;
}
.monospace {
  font-family: @font-family-monospace;
}
.well {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 2px;
}
.btn {
  background: transparent;
  border-color: transparent;
  &.btn-strong {
    background: #fff;
  }
}
.btn-xs.btn-strong {
  padding: 3px 5px 1px;
}
.btn-primary.btn-strong {
  border: 1px solid @brand-primary;
}
.btn-success.btn-strong {
  border: 1px solid @brand-success;
}
.btn-info.btn-strong {
  border: 1px solid @brand-info;
}
.btn-warning.btn-strong {
  border: 1px solid @brand-warning;
}
.btn-danger.btn-strong {
  border: 1px solid @brand-danger;
}
.btn-action {
  color: @brand-action;
  background: #fff;
  &.btn-strong {
    border: 1px solid #666;
  }
  &:hover {
    background: #eee;
  }
}
#app-status {
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 10000;
  width: auto;
  .alert {
    box-shadow: 1px 3px 3px rgba(0,0,0,0.25);
  }
}
#please-wait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.1);
}
