#page-container {
  padding-top: 42px;
}
.layout-onecol {
  width: 850px;
  margin: 0 auto;
}
.layout-twocol {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  .layout-main {
    flex: 1;
  }
  .layout-rightnav {
    flex: 0 0 315px;
  }
}
.layout-threecol {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  .layout-main {
    flex: 1;
  }
  .layout-leftnav {
    flex: 0 0 150px;
  }
  .layout-rightnav {
    flex: 0 0 315px;
  }
}
.layout-setup {
  max-width: 620px;
  margin: 15px auto;
  display: flex;
  flex-direction: row;

  .layout-setup-left {
    flex: 1;
  }
  .layout-setup-right {
    flex: 1;
    .layout-setup-right-inner {
      padding: 63px 0 0 20px;
    }
  }
}