.home-page {
  .flagged-nsfw, .flagged-spam, .flagged-abuse {
    display: none;
  }
  .show-nsfw .flagged-nsfw {
    display: block;
  }
  .show-spam .flagged-spam {
    display: block;
  }
  .show-abuse .flagged-abuse {
    display: block;
  }
}