.address {
  color: #555;
  height: 100px;

  td {
    border-bottom: 1px solid #ccc;
  }

  .profpic {
    width: 120px;
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
  .details {
    p {
      margin: 2px 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p.name {
      font-size: 17px;
      margin: 5px 0;
      a {
        color: #555;
      }
    }
  }
}