.address {
  color: #555;
  height: 55px;

  .profpic {
    width: 116px;
    padding-left: 10px;
    .hexagon {
      width: 60px;
      height: 35px;
      background-size: 76px;
      margin: 0;
    }
  }
  .details {
    padding-left: 10px;
    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p.name {
      font-size: 16px;
      a {
        color: #555;
      }
    }
  }
  .actions {
    width: 50px;
  }

  &:nth-child(odd) {
    .profpic .hexagon {
      margin-left: 32px;
    }
    td {
      background: #eee;
    }
  }
}

.peers {
  margin: 0;
}

.address-book-page {
  .message-feed-container {
    padding-top: 10px;
  }
}