.composer-header {
  display: table-cell;
  padding: 4px 0 0px 35px;

  .composer-header-inner {
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

.composer.reply {
  padding: 0 25px 10px;
}