.contact-feed-container {
  border: 1px solid #ccc;
  background: #fff;

  .contact-feed {
    width: 100%;
    margin-top: 10px;

    &:empty::before {
      content: attr(data-empty-overlay);
      font-size: 16px;
      font-style: italic;
      color: #777;
      margin: 0.25em 1em;
      display: block;
    }
  }
}