.contact-listing {
  display: inline-block;
  width: 240px;
  margin: 32px 0 0 48px;
  color: #555;
  vertical-align: top;

  .profpic {
    display: flex;
    height: 75px;
    .hovercard {
      visibility: hidden; // never show
    }

    .action {
      position: relative;
      width: 100%;
      .btn {
        position: absolute;
        right: 0;
        bottom: 5px;
        background: #2778E2;
        color: #fff;
        border: 0;
        
        &:hover {
          background: linear-gradient(to bottom, #2778e2, #1D66C7);
        }
        &.unfollow {
          background: #81367A;
        }
        &.unfollow:hover {
          background: linear-gradient(to bottom, #81367A, #6B2E65);
        }
      }
    }
  }
  .details {
    background: #fff;
    padding-bottom: 5px;

    .name {
      font-size: 21px;
      position: relative;
      top: 6px;

      a {
        color: #555;
        font-weight: bold;
      }
    }
    p {
      margin: 10px 15px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      color: #555;
      font-weight: bold;
    }
    .user-img img {
      width: 24px;
      height: 24px;
      margin: 1px;
    }
  }
  .text-danger {
    color: #FD241F;
    font-weight: bold;
  }
}

.peers {
  margin: 0;
}

.address-book-page {
  .message-feed-container {
    padding-top: 10px;
  }
}