.files-view {
  .table;
  .table-hover;
  background: #fff;

  td:nth-child(1) {
    font-style: italic;
    width: 80px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  td:nth-child(2) {
    width: 28px;
  }
  td:nth-child(4) {
    width: 180px;
  }
  td:nth-child(5) {
    width: 80px;
    border-right: 1px solid #ddd;
  }
  .folder {
    cursor: pointer;
  }

  .glyphicon {
    margin-right: 10px;
  }
}
.files-view-folder {
  border: 1px solid #ccc;
  padding: 7px 10px 6px 10px;
  background: #fafafa;
  position: relative;
  left: -4px;
  top: 2px;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 2px 0 3px rgba(0,0,0,0.15);
  color: #666;
}