.header-ctrls {
  display: table;
  border-collapse: collapse;
  width: 100%;
  background: #eee;

  .navlinks {
    display: table-cell;
    white-space: pre;
    a {
      display: inline-block;
      padding: 4px 15px;
      font-weight: 100;
      color: #555;
      margin-right: 5px;
      border: 1px solid transparent;

      &:hover {
        text-decoration: none;
        background: #ddd;
      }
      &.selected {
        border-color: #ccc;
        background: #fff;
      }
    }
  }
  form {
    display: table-cell;
    width: 100%;
    padding: 3px 0;
    input {
      border: 1px solid #ccc;
      padding: 5px 10px;
    }
  }

  &.big {
    font-size: 18px;

    .navlinks a {
      padding: 15px;
    }
  }

  &.light {

    .navlinks a {
      color: #777;
      background: #fff;
      border: 0;
      border-top: 1px solid #ccc;
      border-bottom: 3px solid #ccc;
      margin-right: 0;

      &:first-child {
        border-left: 1px solid #ccc;
      }
      &:last-child {
        border-right: 1px solid #ccc;
      }

      &:hover {
        color: #555;
      }
      &.selected {
        color: #333;
        border-bottom-color: #777;
      }
    }
  }
}