.header-ctrls {
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  .nav {
    a {
      display: inline-block;
      padding: 0.25em 1em;
      font-weight: 100;
      color: #555;
      border: 1px solid #aaa;
      border-top: 0;
      border-right-width: 0;
      background: #eee;

      &:last-child {
        border-right-width: 1px;
      }
      &:hover {
        text-decoration: none;
        background: #fafafa;
      }
      &.selected {
        border-bottom-width: 2px;      
        border-bottom-color: @blue-primary;
        background: #fff;
      }
    }
  }
  form {
    input {
      border: 1px solid #aaa;
    }
  }
}