.header-ctrls {
  display: table;
  border-collapse: collapse;
  width: 100%;
  background: #eee;

  .navlinks {
    display: table-cell;
    white-space: pre;
    a {
      display: inline-block;
      padding: 4px 15px;
      font-weight: 100;
      color: #555;
      margin-right: 5px;
      border: 1px solid transparent;

      &:hover {
        text-decoration: none;
        background: #ddd;
      }
      &.selected {
        border-color: #ccc;
        background: #fff;
      }
    }
  }
  form {
    display: table-cell;
    width: 100%;
    padding: 3px 0;
    input {
      border: 1px solid #ccc;
      padding: 5px 10px;
    }
  }

  &.big {
    font-size: 18px;
  }

  &.light {
    .navlinks a {
      color: #777;
      &:hover {
        color: #555;
      }
      &.selected {
        border-color: transparent;
        background: transparent;
        color: #333;
      }
    }
  }
}