.invite-form {
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  max-width: 600px;
  margin: 10px auto;

  h3 {
    margin-top: 0;
    color: #555;
    font-size: 22px;
  }
  .form-inline .form-control {
    width: 480px;
    margin-right: 10px;
  }
  .processing-info {
    display: none;
    margin: 30px 25px 60px;
    .spinner {
      margin: 0;
      float: left;
    }
    p {
      color: #666;
      position: relative;
      left: 50px;
      top: 15px;
    }
  }
  .error {
    display: none;
    margin: 30px;
    font-size: 16px;
  }
}