.message-summary {
  font-family: @font-family-sans-serif;
  background: #fff;
  position: relative;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  color: #555;

  td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }

  /*&:nth-child(even) td {
    background: #fafafa; // zebra
  }*/

  &.selected {
    td:first-child {
      border-left-width: 15px;
    }
    td {
      background: #fafafa;  
    }
  }

  td:first-child {
    text-align: right;
    white-space: nowrap;
    & > div {
      border-right: 0px solid #ddd;
      padding-right: 7px;
    }
  }
  td:nth-child(2) {
    width: 30px;
    color: #fff;
    border-color: #ccc;
    background: #ddd;
  }
  td:nth-child(3), td:nth-child(5), td:nth-child(6) {
    white-space: nowrap;
    color: gray;    
  }
  &.initmsg td {
    &:nth-child(2) {
      background: #333;
      border-color: #000;
    }  
  }
  &.postmsg td {
    &:nth-child(2) {
      border-color: rgb(26, 102, 202);
      background: #006EFF;
    }
  }
  &.advertmsg td, &.namemsg td {
    &:nth-child(2) {
      border-color: rgb(137, 30, 160);
      background: #B611DA;
    }
  }
  &.followmsg td, &.trustmsg td {
    &:nth-child(2) {
      border-color: rgb(19, 115, 16);
      background: #06AB01;
    }
  }
  &.unfollowmsg td, &.flagmsg td {
    &:nth-child(2) {
      border-color: rgb(121, 18, 18);
      background: rgb(208, 8, 8);
    }
  }
}