.message-thread {
  /* todo: remove? */
  .in-response-to {
    a {
      display: block;
      padding: 1em 1em 0.5em;
    }
    &:empty {
      display: none;
    }
  }

  .message-replies {
    .message {
      margin: 36px 48px 36px 60px;
    }
  }
}