.message {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  margin: 36px 24px 36px 36px;
  word-break: break-word;  

  .user-img {
    width: 57px;
    height: 57px;
    position: absolute;
    left: -20px;
    top: -20px;
    background: rgb(238, 238, 238);
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    img {
      width: 50px;
      height: 50px;
    }

    &:before {
      content: '';
      position: absolute;
      background: #eee;
      width: 19px;
      height: 3px;
      top: 54px;
      left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      background: #eee;
      width: 3px;
      height: 19px;
      top: 0;
      right: -2px;
    }
  }

  .message-header {
    padding-right: 5px;
    margin-left: 37px;
    height: 37px;
    background: #f5f5f5;

    a {
      color: #666;
    }
    li {
      padding: 7px 10px;
      &:first-child {
        margin-left: 5px;
      }
    }
  }
  .message-body {
    margin: 24px 24px 12px;
  }
  .attachments {
    &:empty {
      display: none;
    }
    margin: 0 2em 1em;
    a {
      margin-right: 1em;
      img {
        max-width: 200px;
        max-height: 200px;
        border: 1px solid #999;
        border-radius: 2px;
      }
    }
  }
  .message-stats {
    margin: 0 2em 1em;

    /*.comments {
      display: none;
    }*/
  }
  .pretty-raw {
    font-size: 15px;
    td {  
      padding: 2px 7px;
      vertical-align: top;
    }
    td:first-child {
      text-align: right;
      min-width: 150px;
      color: #999;
    }
  }
}