.message-feed-ctrls {
  padding: 0.5em 0;
  position: relative;
}

.message-feed-container {

  .load-more {
    display: none;
    margin: 5px 0px 5px 62px;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
    background: #ddd;
  }

  .message-feed {
    font-family: @font-family-sans-serif;
    width: 100%;

    &:empty::before {
      content: 'No Messages';
      font-size: 16px;
      font-style: italic;
      color: #777;
      margin: 1em 4em;
      display: block;
    }
  }

}