.message {
  position: relative;
  margin: 26px auto;
  word-break: break-word;  
  background: #fff;
  border: 1px solid #ccc;

  & > .user-img {
    position: absolute;
    left: -20px;
    top: -15px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    }
  }

  .message-header {
    padding-left: 20px;
    margin: 0;
    height: 35px;

    a {
      color: #666;
    }
    li {
      padding: 7px 10px;
    }
    .favorite {
      .glyphicon-star {
        font-size: 21px;
        color: #bbb;
      }
      a.selected .glyphicon-star {
        color: rgb(255, 194, 0);
      }
      a:hover .glyphicon-star {
        color: #aaa;
      }
      a.selected:hover .glyphicon-star {
        color: darken(rgb(255, 194, 0), 10%);
      }

      .users {
        margin-right: 5px;
        .user-img {
          margin-right: 5px;
        }
        img {
          width: 24px;
          height: 24px;
          border-radius: 12px;
          vertical-align: top;
        }
      }
    }
  }
  .message-body {
    padding: 12px 24px;
    & > h4 {
      margin-top: 0;
    }
  }
  .markdown {
    & > :first-child {
      margin-top: 0;
    }
    ul {
      padding-left: 24px;
    }
  }
  .attachments {
    &:empty {
      display: none;
    }
    padding: 10px;
    background: #fafafa;
    a {
      display: block;
      .image {
        height: 200px;
        background: no-repeat center center;
        background-size: cover;
        border: 1px solid #ccc;
      }
      .file {
        padding: 14px;
      }
    }
  }
  .message-comments {
    border-left: 10px solid #ccc;
    padding: 1px 15px;
    &:empty {
      display: none;
    }
    & > a {
      float: right;
      padding-right: 2px;
    }
    .comment {
      color: #333;
      border-top: 1px solid #ddd;
      padding: 0 7px;

      .user-img {
        float: left;
        padding-top: 7px;
        img {
          width: 25px;
          height: 25px;
          border-radius: 12px;
          background: 2px 2px 3px rgba(0,0,0,0.25);
        }
      }
      .comment-inner {
        margin-left: 30px;
        padding: 10px 5px 0;

        .markdown ul {
          padding-left: 21px;
        }
      }
    }
  }
  .reply-form {
    padding: 15px 24px;
    background: #fafafa;
    border-top: 1px solid #ddd;
  }
  .pretty-raw {
    font-size: 15px;
    td {  
      padding: 2px 7px;
      vertical-align: top;
    }
    td:first-child {
      text-align: right;
      min-width: 150px;
      color: #999;
    }
  }
}