.message-summary {
  font-family: @font-family-sans-serif;
  background: #fff;
  position: relative;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  color: #555;

  td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }

  &.selected {
    td:first-child {
      border-left-width: 15px;
    }
    td {
      background: #fafafa;  
    }
  }
  td:nth-child(1) {
    width: 30px;
    color: #fff;
    border-color: #555;
    background: #808080;
  }
  td:nth-child(2) {
    position: relative;
    border-left: 5px solid #bbb;
  }
  td:nth-child(4) {
    text-align: right;
    white-space: nowrap;
    background: #fafafa;
  }

  &.initmsg td {
    &:nth-child(1) {
      background: #333;
      border-color: #000;
      &::before {
        color: lighten(#333, 33%);
      }
    }
  }
  &.advertmsg td, &.namemsg td, &.pubmsg td {
    &:nth-child(1) {
      border-color: rgb(137, 30, 160);
      background: #B611DA;
      &::before {
        color: lighten(#B611DA, 33%);
      }
    }  
  }
  &.postmsg td {
    &:nth-child(1) {
      border-color: rgb(26, 102, 202);
      background: #006EFF;
      &::before {
        color: lighten(#006EFF, 33%);
      }
    }
  }
  &.advertmsg td, &.namemsg td, &.pubmsg td {
    &:nth-child(1) {
      border-color: rgb(137, 30, 160);
      background: #B611DA;
      &::before {
        color: lighten(#B611DA, 33%);
      }
    }
  }
  &.followmsg td, &.trustmsg td {
    &:nth-child(1) {
      border-color: rgb(19, 115, 16);
      background: #06AB01;
      &::before {
        color: lighten(#06AB01, 33%);
      }
    }
  }
  &.unfollowmsg td, &.flagmsg td {
    &:nth-child(1) {
      border-color: rgb(121, 18, 18);
      background: rgb(208, 8, 8);
      &::before {
        color: lighten(rgb(121, 18, 18), 40%);
      }
    }
  }

  &.read {
    td:nth-child(2) {
      border-left-color: #eee;
    }
  }

  &.subscribed {
    td:nth-child(2) {
      border-left-color: rgb(255, 194, 0); // orangish gold
    }
  }

  .hover-menu {
    position: relative;
    width: 100px;
    a {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      padding-top: 12px;
      color: #808080;
      &:hover {
        background: #f0f0f0;
        text-decoration: none;
      }
    }
  }
  &.read {
    .hover-menu {
      a {
        &:hover {
          background: #ddd;
        }
      }
    }
  }

  .pretty-raw {
    padding: 0 1em;
    width: 175px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #ccc;
    white-space: nowrap;

    small {
      padding-right: 0.5em;
    }

    &:last-child {
      border-right: 0;
    }
  }
}