
.message-preview-container {
  float: right;
  padding: 0 16px;
  width: 45%;
}

.message-preview {
  .value {
    font-family: @font-family-sans-serif;
    .headers {
      border: 1px solid #ccc;
      background: #fafafa;
      margin: 0;
      li {
        padding: 8px 12px;
        border-right: 1px solid #ccc;
      }
    }
    .content {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-top: 0;
      & > div > :first-child {
        margin-top: 6px;
      }
    }
  }
}