.message-summary {
  font-family: @font-family-sans-serif;
  background: #fff;
  position: relative;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #555;

  & > td {
    vertical-align: top;
    word-break: break-word;
    padding-top: 2px;
    &:nth-child(1) {
      width: 50px;
      padding-left: 10px;
      padding-right: 5px;
    }
  }

  &:first-child td {
    padding-top: 10px;
  }
  &:hover td {
    background: #eee;
  }

  .markdown {
    margin-top: 10px;
    font-size: 17px;
    & > :first-child {
      margin-top: 0;
    }
    ul {
      padding-left: 2em;
    }
  }
  :not(.markdown) h4 {
    font-size: 15px;
    margin-top: 10px;
  }

  .raw {
    margin-bottom: 1em;
    .pretty-raw {
      font-size: 15px;
      td {  
        padding: 2px 7px;
        vertical-align: top;
      }
      td:first-child {
        text-align: right;
        min-width: 150px;
        color: #999;
      }
    }
  }
}