.message-thread {
  margin: 1em 0 3em;
  border: 1px solid #bbb;

  ul.list-inline {
    margin: 0;
    a {
      color: #777;
    }

    &.tools-top {
      background: #eee;
      border-bottom: 1px solid #aaa;
    }

    &.tools-bottom {
      background: #eee;
      border-top: 1px solid #aaa;
      li {
        border-right: 1px solid #ccc;
        padding: 0;
        a {
          color: #555;
          display: inline-block;
          padding: 0.5em 1em;
          border-bottom: 2px solid transparent;
          &:hover {
            background: #ddd;
            text-decoration: none;
          }
        }
        &.selected a {
          font-weight: bold;
          border-bottom: 2px solid @brand-primary;
        }
      }
    }
  }

  .type {
    width: 30px;
    color: #fff;
    border-color: #555;
    background: #808080;
    border-right: 1px solid gray;
    padding: 7px;
  }
  .message {
    margin: 1em;
  }
  .message-replies {
    padding-left: 10px;
  }

  // message type styles

  .initmsg .type {
    background: #333;
    border-color: #000;
  }
  .postmsg {
    .type {
      border-color: rgb(26, 102, 202);
      background: #006EFF;
    }
    .message {
      font-size: 150%;
      color: #555;
    }
  }
  .advertmsg .type, &.namemsg .type, &.pubmsg .type {
    border-color: rgb(137, 30, 160);
    background: #B611DA;
  }
  .followmsg .type, &.trustmsg .type {
    border-color: rgb(19, 115, 16);
    background: #06AB01;
  }
  .unfollowmsg .type, &.flagmsg .type {
    border-color: rgb(121, 18, 18);
    background: rgb(208, 8, 8); 
  }
  .rawmsg {
    .message {
      font-size: 125%;
      color: #555;

      table {
        width: 100%;
      }
    }
  }
}