#page-nav {
  background: rgb(116, 181, 21);
  background: linear-gradient(to top, rgb(116, 181, 21), rgb(107, 169, 15));
  border-bottom: 1px solid rgb(91, 203, 22);
  white-space: nowrap;
  position: fixed;
  top: 0;
  height: 46px;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 11px 15px 4px;
        font-size: 15px;
        color: #CDED9B;
        font-weight: 100;

        &:hover {
          text-decoration: none;
        }
      }
      &.selected {
        a {
          color: #fff;
          font-weight: 100;
        }
      }
    }
  }
}