#page-nav {
  white-space: nowrap;
  position: fixed;
  top: 0;
  z-index: 100;

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        display: inline-block;
        color: #555;
        background: #fff;
        border: 1px solid #bbb;
        padding: 10px 11px 6px;
        font-size: 21px;
        font-weight: 100;
        margin-left: 16px;
        margin-top: 10px;
        div {
          display: none;
          color: #666;
          font-size: 19px;
        }
        &:hover {
          text-decoration: none;
          background: #ddd;
        }
      }

      &.selected {
        a {
          background: #DFFFA7;
        }
      }
    }
    &:hover {
      li a div {
        display: inline-block;
      }
    }
  }
}