
.profile-controls {
  margin: 1em;
  
  h2, p {
    margin: 0;
  }
  .section {
    margin-bottom: 24px;
  }
  li {
    display: inline-block;
    margin-right: 1em;
  }

  .profpic {
    position: relative;
    display: inline-block;
    .hexagon-275 {
      z-index: 10;
    }
    .hexTop, .hexBottom {
      outline: 5px solid #eee;
    }
    &:hover::before {
      content: 'Change Profile Pic';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1000;
      transform: translate(-50%, -50%);
      width: 180px;
      padding: 1em 2em;

      font-weight: 100;
      color: #fff;
      background: rgba(0,0,0,0.75);
      border-radius: 2px;
    }
  }

  .totem {
    position: relative;
    width: 275px;
    height: 318px;
    margin-bottom: 1em;

    .corner {
      position: absolute;
      z-index: 5;
      display: block;
      width: 130px;
      height: 100px;
      background: #282C32;
      color: #2778E2;
      border-radius: 2px;
      font-family: @font-family-monospace;
      font-size: 21px;
      .corner-inner {
        position: absolute;
      }
    }
    .topleft {
      top: 10px;
      left: 10px;
      .corner-inner {
        left: 9px;
        top: 4px;
      }
    }
    .topright {
      top: 10px;
      right: 10px;
      .corner-inner {
        right: 11px;
        top: 4px;
      }
    }
    .botleft {
      bottom: 10px;
      left: 10px;
      .corner-inner {
        left: 9px;
        top: 68px;
      }
    }
    .botright {
      bottom: 10px;
      right: 10px;
      .corner-inner {
        right: 11px;
        top: 68px;
      }
    }
    .glyphicon {
      font-size: 12px;
      margin: 0 3px;
    }
  }
}

.profile-pics {
  padding: 1em 0;
  .pic {
    position: relative;
    display: inline-block;
    margin: 1em 1em 1em 0;
    img {
      width: 275px;
      height: 275px;
      border-radius: 2px;
    }
    &:hover::before {
      content: 'Use This Picture';
      position: absolute;
      bottom: 30px;
      left: 0;
      background: rgba(0,0,0,0.75);
      font-weight: 100;
      padding: 1em 2em;
      color: #fff;
      border-radius: 2px;
    }
  }
}